* {
    margin: 0 auto;
    padding: 0;

  }
  .header {
    /* Header */
    position: fixed;
    width: 100%;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
    background: #202B3D;
  }
  
  .nav {
    display: flex;
    width: 100%;
    height: 85px;
  }
    
  .nav img {
    margin-left: 15%;
    padding-top: 15px;
    text-align: center;
    border-radius: 50%;
  }
  
  .menu {
    /* Caja de enlaces del menú */
    display: flex;
    margin-left: 20%;
    align-items: center;
    list-style: none;
    padding: 0;
  }

.menu li{
    padding: 0 15px;
}
  
.menu a {
    /* Estilo visual de etiquetas a del menú */
    padding: 0 6px;
    margin-right: 15px;
    margin-left: 50%;
    font-size: 17px;
    text-decoration: none;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    border-bottom: 2px solid transparent;
  }
  
.menu a:hover {
    /* Linea que aparece abajo de cada enlace del menú */
    border-bottom: 2px solid grey;
    transition: 0.6s; /*tiempo en realizar el efecto */
  }

  .inicio{
    display: flex;
    padding-top: 85px;
    width: 100%;
    height: 50%;
  }

  .container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
    background-color: white;
  }

  .titulo{
    background-color: #202B3D;
    margin-top: 10%;
    width: 50%;
    height: 140px;
    text-align: center;
  }

  .titulo h1{
    align-items: center;
    color: white;
    padding-top: 10px;
    font-size: 54px;
  }

  .tituloImagen{
    width: 50%;
    height: 50%;
    background-color: #202B3D;
  }

  .tituloImagen img{
    text-align: center;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 5px;

  }

  .nosotros{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 260px;
    background-color: rgb(160, 158, 158);
  }

  .primero{
    width: 33%;
    height: 60%;
    color: black;
    margin-top:40px;
    padding-top: 20px;
    font-size: 18px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 20px;
  }

  .segundo{
    width: 33%;
    height: 70%;
    color: black;
    margin-top:40px;
    padding-top: 20px;
    font-size: 18px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 20px;
    border-left: 1px solid black;
  }

  p{
    margin-top: 10px;
  }

  .tercero{
    width: 33%;
    height: 70%;
    color: black;
    margin-top:40px;
    padding-top: 20px;
    font-size: 18px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 20px;
    border-left: 1px solid black;
  }
 
  h2 {
    color: white;
    font-family: "Quicksand", sans-serif;
    text-align: center;
    margin-top: 5%;
    
  }

  .card {
    width: 100%;
    height: 350px;
    padding: 2% 2%;
    background-color: #202B3D;
}

  .titleValidator {
    font-size: 170%;
    margin-bottom: 3%;
    color: white;
    
  }

  .intro {
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-size: 18px;
    margin: 10px 15px;
    color: white;
  }


input {
    background: white;
    color: black;
    text-align: center;
    font-size: 20px;
    padding: 1% 2% 1% 2%;
    border-radius: 10px;
    margin-top: 3%;
    display: block;
    resize: none;
    outline: none;
    box-shadow: inset 2px 4px 4px rgba(0, 0, 0, 0.25);
    border-style: hidden;
  }

  button {
    background: rgb(208, 82, 228);
    color: rgb(255, 255, 255);
    font-size: 18px;
    width: 180px;
    height: 40px;
    display: block;
    border: none;
    border-radius: 20px;
    margin: 2% auto;
    cursor: pointer;
    box-shadow: 0 5px 5px 0px rgba(36, 35, 31, 0.075);
  }
  
  .btnAll:hover {
    background-color: #330554;
    color: #ffffff;
    transition: 0.3s;
  }

  #verificationResult {
    text-align: center;
    color: rgb(48, 204, 48);
  }

  #result {
    font-family: "Quicksand", sans-serif;
    font-weight: bolder;
    font-size: 17px;
    text-align: center;
    color: white;
    margin-top: 3%;
  }
  #bttRetVal {
    display: none;
  }

.barra-footer{
    background-color: grey;
    text-align: center;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.barra-footer ul{
  display: flex;
  flex-direction: row;
  list-style: none;
  font-size: 30px;


}

.barra-footer2{
    background-color: #202B3D;
    text-align: center;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;

}